* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: initial !important;
}

body {
    overflow: hidden;
}

:root {
    --main-color: #ff305b;
}

.loading {
    position: fixed;
    top: 0;
    left: 0%;
    right: 0;
    bottom: 0;
    z-index: 1222;
    background-color: #000000;
    display: flex;
}

.sk-cube-grid {
    width: 40px;
    height: 40px;
    margin: 100px auto;
}

.sk-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    background-color: rgb(253, 253, 253);
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
    animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}

.sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
        -moz-transform: scale3D(1, 1, 1);
        -ms-transform: scale3D(1, 1, 1);
        -o-transform: scale3D(1, 1, 1);
    }

    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
        -moz-transform: scale3D(0, 0, 1);
        -ms-transform: scale3D(0, 0, 1);
        -o-transform: scale3D(0, 0, 1);
    }
}

@keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
        -moz-transform: scale3D(1, 1, 1);
        -ms-transform: scale3D(1, 1, 1);
        -o-transform: scale3D(1, 1, 1);
    }

    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
        -moz-transform: scale3D(0, 0, 1);
        -ms-transform: scale3D(0, 0, 1);
        -o-transform: scale3D(0, 0, 1);
    }
}

/* Start header */

header {
    height: 100vh;
    background-image: url(../img/slider/slider-01.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;

}

header .layer {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #000000;
    opacity: 0.8;

}

.head-caption {
    font-family: sans-serif;
}

.head-caption h1 {
    color: var(--main-color);
    font-size: 65px;
    font-weight: bolder;


}

header .icons svg {
    z-index: 33;
    display: none;
    color: #fa395f;
    bottom: 20px;
    right: 30px;
    position: fixed;
    cursor: pointer;
    display: none;
}

/* End header */

/* start navbar */

.navbar-light .navbar-nav .nav-link {
    font-size: 18px;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: var(--main-color) !important;

}

.navbar-light .navbar-nav .active {
    color: var(--main-color) !important;
}

.navbar-brand {
    color: var(--main-color) !important;
}
.navbar .navbar-toggler:focus{
    box-shadow: none;
    border-color: white;
}



/* End navbar */
/* Start about */

.about {
    overflow: hidden;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100%;
}

.about-image {
    box-shadow: 0px 13px 18px -10px rgb(0 0 0 / 30%);
    overflow: hidden;
    position: relative;
    
    top: 0px;
    width: 28%;
    border-radius: 2%;
    -webkit-border-radius: 2%;
    -moz-border-radius: 2%;
    -ms-border-radius: 2%;
    -o-border-radius: 2%;
}

.about-image img {
    border-radius: 2%;
    top: 20px;
    left: 25px;
    width: 100%;
    -webkit-border-radius: 2%;
    -moz-border-radius: 2%;
    -ms-border-radius: 2%;
    -o-border-radius: 2%;
}

.about-image .overlay {
    background-color: #07070760;
    width: 100%;
    height: 100%;
    top: 100%;
    left: 0;
    opacity: 1;
    overflow: hidden;
    position: absolute;
}

.about-image:hover .overlay {
    opacity: 1;
    top: 0;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

.about .about-image ul {
    list-style-type: none;

}

.about .icons  svg {
    color: white;
    padding-right: 25px;
}

.about .icons svg:hover {
    color: var(--main-color);
}

.about-info {
    float: right;
    width: 50%;
}

.about-info h2 {
    font-size: 25px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    padding-bottom: 2%;
    position: relative;
    left: 15px;
}

.about-info h2::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 25px;
    top: 5px;
    left: -15px;
    background-color: #fa395f;
}

.about-info p {
    padding-top: 2%;
    padding-bottom: 3%;
    font-size: 17px;
    
}

#pra {
    border-bottom: solid 2px;
}


/* Start about */

.about .information .info1 {
    position: relative;
    left: -6%;
}

.about .information .info1,
.about .information .info2 {
    float: left;
    width: 50%;
    text-align: left;
}

.about .information ul li {
    display: block;
}

.about .information span {
    color: black;
    font-size: 18px;
    font-weight: bold;
}

.about .information {
    position: relative;
}

.btu button {
    margin-right: 5px;
    position: relative;
    cursor: pointer;
    background-color: #ff305b;
    border: none;
    padding: 2% 5%;
    border-radius: 5%;
    color: #fff;
    font-size: 18px;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
}

.btu button:hover {
    background-color: rgb(255, 66, 32);
}


/* End about */


/* Start Services */

.services {
    width: 100%;
    
}

.services .line {
    width: 150px;
    height: 1px;
    background-color: #fa395f;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    position: relative;
}

.services .line::after {
    content: "";
    position: absolute;
    width: 80px;
    height: 1px;
    background-color: #fa395f;
    top: 5px;
    left: 35px;
}

.services .line::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 1px;
    background-color: #fa395f;
    top: -5px;
    left: 35px;
}

.services h2 {
    padding-top: 5%;
    text-align: center;
    color: rgb(46, 46, 46);
    font-size: 40px;
}
.serv-items{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 10px 10px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.serv-items:hover {
    background-color: white;
    
    transition: all 0.7s;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
}

.serv-items:hover svg {
    transform: scale(1.1);
    transition: all 0.7s;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
}
.serv-items svg{
    color: var(--main-color);

}




/* End service */


/* Start profile */

.profile {
    width: 100%;
}

.profile h2 {
    padding-top: 5%;
    text-align: center;
    color: rgb(46, 46, 46);
    font-size: 37px;
}

.profile .line {
    width: 150px;
    height: 1px;
    background-color: #fa395f;
    margin: auto;
    margin-top: 15px;
    position: relative;
    margin-bottom: 2%;
}

.profile .line::after {
    content: "";
    position: absolute;
    width: 80px;
    height: 1px;
    background-color: #fa395f;
    top: 5px;
    left: 35px;
}

.profile .line::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 1px;
    background-color: #fa395f;
    top: -5px;
    left: 35px;
}

.layer {
    position: absolute;
    top: 0%;
    left: 0%;
    bottom: 0%;
    right: 0%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.pro-item:hover .layer {
    opacity: 1;
}

.profile span {

    font-size: 20px;
    font-weight: 400;
}

.profile span:hover {
    cursor: pointer;
    color: #fa395f;

}

.pro-item svg {
    color: #fa395f;
    padding: 8px;
    font-size: 20px;
}

/* End profile */


/* Start section */


.section {
    width: 100%;
    margin-top: 3%;
    background-color: #ffffff;
}


.services .serv-items svg, .section .counter svg {
    color: #fa395f;
}
/* End section */


/* Start feedback */

.cursol {
    background-image: url("../img/overlay-bg.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    
}
.carousel-inner{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;;

}

.cursol .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;;
    opacity: 0.7;
}

.carousel-indicators [data-bs-target] {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fa395f;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.feedback h2 {
    padding-top: 5%;
    color: rgb(46, 46, 46);
    font-size: 37px;
}

.feedback .line {
    width: 120px;
    height: 1px;
    background-color: #fa395f;
    margin: auto;
    margin-top: 15px;
    position: relative;
    margin-bottom: 5%;
}

.feedback .line::after {
    content: "";
    position: absolute;
    width: 70px;
    height: 1px;
    background-color: #fa395f;
    top: 5px;
    left: 27px;
}

.feedback .line::before {
    content: "";
    position: absolute;
    width: 70px;
    height: 1px;
    background-color: #fa395f;
    top: -5px;
    left: 27px;
}




/* End feedback */


/* Start blog*/

.blog {
    padding-left: 5%;
    background-color: #faf9f9;
}

.blog h2 {
    padding-top: 5%;
    color: rgb(46, 46, 46);
    font-size: 37px;
}

.blog .line {
    width: 120px;
    height: 1px;
    background-color: #fa395f;
    margin: auto;
    margin-top: 15px;
    position: relative;
    margin-bottom: 5%;
}

.blog .line::after {
    content: "";
    position: absolute;
    width: 70px;
    height: 1px;
    background-color: #fa395f;
    top: 5px;
    left: 27px;
}

.blog .line::before {
    content: "";
    position: absolute;
    width: 70px;
    height: 1px;
    background-color: #fa395f;
    top: -5px;
    left: 27px;
}

.blog .blog-item .read {
    padding: 0px 0px 15px 15px;
    width: 130px;


}

.blog .blog-item .read:hover {
    cursor: pointer;
    color: white;

}

.blog-item {
    box-shadow: 0px 13px 18px -10px rgb(0 0 0 / 30%);
    margin-bottom: 100px;
    overflow: hidden;
}

.blog-item img {
    transition: all 1s;
    

}

.blog-item:hover img {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}



/* End blog*/


/* Start form */

.form {
    width: 60%;
    margin: auto;
}

.form h2 {
    text-align: center;
    color: rgb(46, 46, 46);
    font-size: 37px;
    margin-top: 5%;
}

.form .line {
    width: 150px;
    height: 1px;
    background-color: #fa395f;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 3%;
    position: relative;
}

.form .line::after {
    content: "";
    position: absolute;
    width: 80px;
    height: 1px;
    background-color: #fa395f;
    top: 5px;
    left: 35px;
}

.form .line::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 1px;
    background-color: #fa395f;
    top: -5px;
    left: 35px;
}

.form-cont {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.form form input[type="text"] {
    background-color: #ffffff;
    width: 49%;
    height: 45px;
    border: 1px solid rgb(197, 197, 197);
    border-radius: 6px;
    margin: 10px 0;
}

.form form input[type="text2"] {
    background-color: #ffffff;
    width: 100%;
    height: 45px;
    border: 1px solid rgb(197, 197, 197);
    border-radius: 6px;
    margin: 10px 0;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

form ::placeholder {
    padding-left: 10px;
}


.form form textarea {
    padding: 2% 0 0 1%;
    border: rgb(197, 197, 197) 1px solid;
    background-color: #fdfdfd;
    width: 100%;
    height: 100px;
    border-radius: 6px;
    margin: 10px 0;
    margin-bottom: 4%;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.form button {
    cursor: pointer;
    padding: 0px 15px;
    height: 45px;
    background-color: #ff305b;
    color: whitesmoke;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    text-transform: uppercase;
    margin-bottom: 10%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.form button:hover {
    background-color: rgb(255, 66, 32);
    color: whitesmoke;
}


/* end form */


/* Start footer */

.footer {
    color: rgb(255, 254, 254);
    text-align: center;
    background-color: #333333;
    padding: 15px 0;
}

.footer ul {

    list-style-type: none;
    margin-top: 20px;

}

.footer ul a svg {
    color: white;
    padding-right: 15px;
}

.footer ul a svg:hover {
    color: var(--main-color);
}

.footer p {
    font-family: sans-serif;
    font-size: 17px;

    padding-bottom: 2%;
    margin: 0;
}

.footer span:hover {
    cursor: pointer;
    text-decoration: underline;
}


/* End footer */

@media screen and (min-width: 481px) and (max-width:768px) {


    .footer p {
        font-size: 15px;

    }

    .form  {

        width: 100%;
    }
    
    
}

@media screen and (min-width: 769px) and (max-width:1024px) {


    .about .item{
        width: 100%;
        margin: auto;
    }
    
    .about-prag{
        width: 100%;
        margin: 0% !important;
    }
    .information{

        left: 10px;
    }
    
    .form {

        width: 80%;
    }

   
}

@media screen and (min-width: 1025px) and (max-width:1250px) {}

@media screen and (min-width: 1251px) {}